<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /public/
    
    # Redirigir la raíz a /public/index.php
    RewriteRule ^$ index.php [QSA,L]
    
    # Excluir 404.html de la redirección
    RewriteCond %{REQUEST_URI} !^/404.html

    # Redirigir las demás solicitudes a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
    ErrorDocument 404 /404.html
</IfModule>

